html {
    background-color: black;
    color: deeppink;
}

nav > span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* Navigation for small screens */
.navigation-menu-button {
    height: 4em;
    width: 4em;
    background-color: darkmagenta;
}

.navigation-menu {
    display: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
}

.navigation-menu li {
    list-style: none;
    background-color: darkmagenta;
    border: 1px solid magenta;
    color: plum;
    padding: 1em;
}

/* Menu (as in, food item menu) layout */
header {
    padding-bottom: 1em;
}

main > header > h2 {
    text-align: center;
}

section > h3 {
    text-align: center;
}

#mung-beans {
    background-color: darkolivegreen;
    color: ivory;
}

#chickpeas {
    color: yellow;
    border: 1px solid yellow;
}

#fava-beans {
    background-color: brown;
    color: ivory;
}

#section-container {
    display: grid;
    grid-gap: 1em;
    /* Unsupported attribute on Gecko, so just use both */
    gap: 1em;
}

/* Hide (remove) the extra navigation menu on larger screens */
.navigation-menu-button,
.menu-visible {
    display: none;
}

@media screen and (max-width: 687px) {
    .navigation-menu-button,
    .menu-visible {
        display: initial;
    }
}

/* Change to multiple columns as the screen size grows */

@media screen and (min-width: 688px) and (max-width: 991px) {
    #section-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* "Stretch" the last section to take both columns */
    section:nth-of-type(odd):last-of-type {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 992px) {
    #section-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

a {
    color: cyan;
}

section p {
    margin: 0.5em;
}
