html {
    background-color: black;
    color: deeppink;
}

h1 {
    font-size: 1.75em;
}

#assignment-container {
    display: grid;
    grid-gap: 1em;
    gap: 1em;
}

#assignment-container section {
    border: 1px solid hotpink;
}

section {
    display: flex;
    flex-flow: column nowrap;
}

section * {
    padding: 1em;
}

section > header {
    background-color: darkmagenta;
    color: pink;
    align-self: flex-end;
    font-size: 1.25em;
    padding: 0;
    border: 1px solid violet;
}

#assignment-container section:nth-child(2) > header {
    background-color: blueviolet;
    color: wheat;
}

#assignment-container section:nth-child(3) > header {
    background-color: rebeccapurple;
}

@media screen and (max-width: 767px) {
    #assignment-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /*
    If the number of sections is odd,
    stretch out the last one
    In this case, of course,
    the number of sections (3) is known a priori,
    but this would work for 5, 7, ... items as well
    */
    section:nth-of-type(odd):last-of-type {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 992px) {
    #assignment-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
