html {
    background-color: black;
    color: deeppink;
}

#assignment-container {
    display: grid;
    gap: 1em;
}

#assignment-container section {
    border: 1px solid hotpink;
    padding: 1em;
}

@media screen and (max-width: 767px) {
    #assignment-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    #assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    #assignment-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
